{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "January 2, 2006" }}
{{ if .PublishDate }}
<i class="far fa-calendar-alt"></i>
<time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time><br/>
{{ end }}
{{ with .Params.tags }}
<i class="fas fa-tags"></i>
{{ range . }}
{{ $href := print (absURL "tags/") (urlize .) }}
#<a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ . }}</a>
{{ end }}<br/>
{{ end }}
{{ if .IsTranslated }}
<i class="fas fa-globe"></i>
{{ range .Translations }}
<a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
{{ end }}<br/>
{{ end }}
<i class="fas fa-hourglass"></i> ~{{ .ReadingTime }} minute{{ if ge .ReadingTime 2 }}s{{ end }}